<h1 class="">Reset Password</h1>

<%= form_with do |f| %>
  
  <div class='d-flex justify-content-center'>
    <%= f.label :email %> 
    <br/>
    <%= f.email_field :email %>
     <br/>
    <%= f.label :password %>
     <br/>
    <%= f.password_field :password %>
      <br/>
    <%= f.label :password_confirmation %>
      <br/>
     <%= f.password_field :password_confirmation %>


   
  </div>
   <br/>
   <div class='actions'><%= f.submit 'Update password' %></div>
<% end %>

